<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Sora Senpai</title>
  <link rel="icon" href="/image/icon.png" type="image/png">
  <link rel="preload" href="/image/icon.png" as="image" type="image/png">
  <meta property="og:type" content="website">
  <meta property="og:title" content="⋆˚𝜗𝜚˚⋆ Sora Senpai ‹𝟹">
  <meta property="og:description" content="ᡣ𐭩 Click me to see my dashboard ✨">
  <meta property="og:image" content="/image/icon.png">
  <meta property="og:url" content="https://ajrahhh.my.id">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Sora Senpai :3">
  <meta name="twitter:description" content="Hii, im a creator from Indonesia 👏🏻">
  <meta name="twitter:image" content="/image/icon.png">
  <link rel="stylesheet" href="/style/style.css">
</head>
