<div class="links">
  <a href="https://wa.me/6283867612915?text=kak,+mau+order+am+prem+sora">
    <span class="button-title">#1 | Order Alight Motion Premium</span>
    <span class="button-sub">INDO : 10 - 20K / Tahun | MALAY : RM 3 - 5 / Tahun</span>
  </a>
  <a href="https://wa.me/6285834118698?text=kak,+mau+order+am+prem+sora">
    <span class="button-title">#2 | Order Alight Motion Premium</span>
    <span class="button-sub">INDO : 10 - 20K / Tahun | MALAY : RM 8 / Tahun</span>
  </a>
  <a href="https://wa.me/6282369776423?text=kak,+mau+order+am+prem+sora">
    <span class="button-title">#3 | Order Alight Motion Premium</span>
    <span class="button-sub">INDO : 10 - 20K / Tahun | MALAY : RM 5 - 10 / Tahun</span>
  </a>
  <a href="https://wa.me/6283190345145?text=kak,+mau+order+capcut+pro+sora">
    <span class="button-title">Order CapCut PRO ( Premium )</span>
    <span class="button-sub">SHARED : 25K / Bulan | PRIVATE : 45K / Bulan</span>
  </a>
</div>
