<div class="links">
  <a href="https://wa.me/6281373219682?text=kak,+mau+order+am+prem">
    <span class="button-title">#1 | Order Alight Motion Premium</span>
    <span class="button-sub">INDO : 10 - 20K / Tahun | MALAY : RM 6 / Tahun</span>
  </a>
  <a href="https://wa.me/6283867612915?text=kak,+mau+order+capcut+pro+sora">
    <span class="button-title">#1 | Order CapCut PRO ( Premium )</span>
    <span class="button-sub">SHARED : 25K / Bulan | PRIVATE : 40K / Bulan</span>
  </a>
  <a href="https://wa.me/6283190345145?text=kak,+mau+order+capcut+pro+sora">
    <span class="button-title">#2 | Order CapCut PRO ( Premium )</span>
    <span class="button-sub">SHARED : 25K / Bulan | PRIVATE : 45K / Bulan</span>
  </a>
</div>
