<div class="social-links">
  <a href="https://instagram.com/ajrah_kunnz" target="_blank">
    <img src="https://img.icons8.com/?size=100&id=32292&format=png&color=FFFFFF" alt="Instagram">
  </a>
  <a href="https://www.threads.net/@ajrah_kunnz" target="_blank">
    <img src="https://img.icons8.com/?size=100&id=ikThuZ5WmSYz&format=png&color=FFFFFF" alt="Threads">
  </a>
  <a href="https://tiktok.com/@sorawangyy" target="_blank">
    <img src="https://img.icons8.com/?size=100&id=vXmXtbBOhqh2&format=png&color=FFFFFF" alt="TikTok">
  </a>
  <a href="https://twitter.com/ajrah_kunnz" target="_blank">
    <img src="https://img.icons8.com/?size=100&id=fJp7hepMryiw&format=png&color=FFFFFF" alt="Twitter">
  </a>
  <a href="https://youtube.com/@sorawangyy" target="_blank">
    <img src="https://img.icons8.com/?size=100&id=37325&format=png&color=FFFFFF" alt="YouTube">
  </a>
</div>
